.imgback {
  background-color: #a83e17da;
}

@media (max-width: 450px) {
  .imgback {
    max-height: 110vh;
  }
}

/* Header de la Home*/
header {
  height: 20vh;
  text-align: center;
  padding-top: 2vh;
  /* Media query celular */
}

header h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 1;
  letter-spacing: 0.5vw;
}

header h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 1;
}

@media (max-width: 450px) {
  header {
    padding-top: 2rem;
  }
}

.main-container {
  outline: 5px solid yellow;
  width: 85vw;
  margin: auto;
  margin-top: -2rem;
  /* Media query   main container*/
}

.main-container .secciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5em;
}

.main-container .secciones a {
  outline: 5px solid green;
  width: 15vw;
  height: 25vh;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1vw;
}

.main-container .secciones a p {
  margin-top: 1rem;
}

.main-container .secciones a img {
  width: 10vw;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.305);
}

@media (max-width: 1450px) {
  .main-container {
    outline: 5px solid #0ee42e;
    width: 85vw;
    margin: auto;
    margin-top: -2rem;
  }
  .main-container .secciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5em;
  }
  .main-container .secciones a {
    outline: 5px solid #2c18b3;
    width: 20vw;
    height: 32vh;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1vw;
  }
  .main-container .secciones a p {
    margin-top: 1rem;
  }
  .main-container .secciones a img {
    width: 12vw;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.305);
  }
}

@media (max-width: 1199px) {
  .main-container {
    width: 90vw;
    height: 65vh;
    outline: 5px solid #df1882;
    margin-top: .5rem;
  }
  .main-container .secciones {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
  }
  .main-container .secciones a {
    outline: 5px solid #efcc05;
    width: 20vw;
    height: 25vh;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1vw;
  }
  .main-container .secciones a p {
    margin-top: 1rem;
    font-size: 15px;
  }
  .main-container .secciones a img {
    width: 14vw;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.305);
  }
}

@media (max-width: 820px) {
  .main-container {
    width: 80vw;
    height: 90vh;
    outline: 5px solid #8bdc1a;
  }
  .main-container .secciones {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
  }
  .main-container .secciones a {
    outline: 5px solid green;
    width: 35vw;
    height: 22vh;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1vw;
  }
  .main-container .secciones a p {
    margin-top: 1rem;
    font-size: 15px;
  }
  .main-container .secciones a img {
    width: 17vw;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.305);
  }
}

@media (max-width: 600px) {
  .main-container {
    width: 90vw;
    outline: 5px solid #33e01c;
    margin-top: 1rem;
  }
  .main-container .secciones {
    outline: 5px solid #eb1010;
    padding-bottom: 10rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5em;
  }
  .main-container .secciones a {
    outline: 5px solid black;
    width: 80vw;
    height: 50vh;
    margin: auto;
  }
  .main-container .secciones a p {
    font-size: 16px;
  }
  .main-container .secciones a img {
    width: 55vw;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .main-container {
    /* width: 90vw; */
    outline: 5px solid #3b54c4;
    margin-top: 10rem;
  }
  .main-container .secciones {
    outline: 5px solid #0b0707;
    padding-bottom: 10rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    /*  gap: 5em; */
  }
  .main-container .secciones a {
    outline: 5px solid #34e408;
    width: 80vw;
    height: 120vh;
    margin: auto;
  }
  .main-container .secciones a p {
    font-size: 16px;
  }
  .main-container .secciones a img {
    width: 60vw;
  }
}

@media (max-width: 750px) and (orientation: landscape) {
  .main-container .secciones a {
    outline: 3px solid pink;
    width: 80vw;
    height: 170vh;
  }
}

/* fin main container */
footer {
  width: 80vw;
  height: 10vh;
  background-color: #a83e17da;
  margin: auto;
  border-radius: 5px;
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* Media query celular  footer*/
}

footer a {
  align-self: center;
}

@media (max-width: 1200px) {
  footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
  }
}

/* fin footer */
/* vecinas */
.vecinas {
  font-size: 13px;
  position: fixed;
  bottom: 0;
}

.vecinas a {
  text-decoration: none;
  color: #323030;
}

/* ----------FINAL DE LA HOME---------------------------------------------------------------------------------------- */
/* Header secciones */
.header-secciones {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 10vh;
  background-color: #a83e17da;
  font-family: 'Quicksand', sans-serif;
  font-weight: 1;
  font-size: 5vw;
  letter-spacing: 0.5vw;
  /* .header-vacio{
     width: 10%;
     
   } */
}

.header-secciones .container-head {
  width: 20%;
  outline: 2px solid #103594;
}

/* Barra de navegacion principal */
.navbar {
  outline: 2px solid blue;
}

.navbar .navbar-brand {
  outline: 2px solid green;
  color: rgba(42, 44, 41, 0.96);
  /* HOME */
  font-size: 10px;
}

.navbar .navbar-nav {
  margin: auto;
  /* 8 productos */
}

.navbar .navbar-nav .nav-link {
  /*   outline: 2px solid rgb(75, 74, 74); */
  /*  background-color: $color-principal; */
  /*  border-radius: 5px; */
  margin-right: 1rem;
  color: white;
}

.navbar .navbar-nav .nav-link:hover {
  color: #a83e17da;
}

.titulo-seccion h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 2rem;
}

/* ALFOMBRAS ------------------ALFOMBRAS--------ALFOMBRAS-------------ALFOMBRAS*/
.container-alfombras {
  outline: 2px solid #103594;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  /* media q alfmbras */
}

.container-alfombras .card-alfombras {
  border: 1px solid rgba(215, 102, 16, 0.466);
  padding: 0.01rem;
  border-radius: 5px;
  box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
  width: 15vw;
}

.container-alfombras .card-alfombras img {
  width: 14.9vw;
  border-radius: 5px;
  text-align: center;
}

.container-alfombras .card-alfombras h5 {
  font-family: 'Quicksand', sans-serif;
  color: #a83e17da;
  text-align: center;
  margin: 2rem 2rem;
}

.container-alfombras .card-alfombras p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
}

.container-alfombras .card-alfombras .precio {
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1980px) and (min-width: 1599px) {
  .container-alfombras .card-alfombras {
    width: 20vw;
  }
  .container-alfombras .card-alfombras img {
    width: 20vw;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .container-alfombras .card-alfombras {
    outline: 5px solid yellow;
    width: 25vw;
    margin: 1rem;
  }
  .container-alfombras .card-alfombras img {
    width: 25vw;
  }
}

@media screen and (max-width: 1199px) {
  .container-alfombras .card-alfombras {
    width: 32vw;
    margin: 1rem;
  }
  .container-alfombras .card-alfombras img {
    width: 32vw;
  }
}

@media screen and (max-width: 800px) {
  .container-alfombras {
    display: flex;
    flex-direction: column;
  }
  .container-alfombras .card-alfombras {
    outline: 5px solid #0a0a0a;
    margin: auto;
    width: 70vw;
    margin-top: 2rem;
  }
  .container-alfombras .card-alfombras img {
    width: 70vw;
  }
}

@media screen and (max-width: 420px) {
  .container-alfombras {
    outline: 5px solid #191fcd;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .container-alfombras .card-alfombras {
    outline: 5px solid #daf601;
    width: 85vw;
    margin: auto;
    margin-top: 2rem;
  }
  .container-alfombras .card-alfombras img {
    width: 85vw;
  }
}

/* bandoleras--------------------bandoleras ------------------------- */
.container-cards {
  outline: 2px solid #103594;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  /* media q bandoleras */
}

.container-cards .card-bandoleras {
  border: 1px solid rgba(215, 102, 16, 0.466);
  padding: 0.01rem;
  border-radius: 5px;
  box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
  width: 15vw;
}

.container-cards .card-bandoleras img {
  width: 15vw;
}

.container-cards .card-bandoleras h5 {
  font-family: 'Quicksand', sans-serif;
  color: #a83e17da;
  text-align: center;
  margin: 2rem 2rem;
}

.container-cards .card-bandoleras p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
}

.container-cards .card-bandoleras .precio {
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1980px) and (min-width: 1599px) {
  .container-cards .card-bandoleras {
    width: 20vw;
  }
  .container-cards .card-bandoleras img {
    width: 20vw;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .container-cards .card-bandoleras {
    outline: 5px solid yellow;
    width: 25vw;
    margin: 1rem;
  }
  .container-cards .card-bandoleras img {
    width: 25vw;
  }
}

@media screen and (max-width: 1199px) {
  .container-cards .card-bandoleras {
    width: 32vw;
    margin: 1rem;
  }
  .container-cards .card-bandoleras img {
    width: 32vw;
  }
}

@media screen and (max-width: 800px) {
  .container-cards {
    display: flex;
    flex-direction: column;
  }
  .container-cards .card-bandoleras {
    outline: 5px solid #0a0a0a;
    margin: auto;
    width: 70vw;
    margin-top: 2rem;
  }
  .container-cards .card-bandoleras img {
    width: 70vw;
  }
}

@media screen and (max-width: 420px) {
  .container-cards {
    outline: 5px solid #191fcd;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .container-cards .card-bandoleras {
    outline: 5px solid #daf601;
    width: 85vw;
    margin: auto;
    margin-top: 2rem;
  }
  .container-cards .card-bandoleras img {
    width: 85vw;
  }
}

/* Bolsos------------Bolsos----------------Bolsos------------ */
.container-bolsos {
  outline: 2px solid #103594;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  /* media q bolsos */
}

.container-bolsos .card-bolsos {
  outline: 5px solid red;
  border: 1px solid rgba(215, 102, 16, 0.466);
  padding: 0.01rem;
  border-radius: 5px;
  box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
  width: 15vw;
}

.container-bolsos .card-bolsos img {
  width: 14vw;
  border-radius: 5px;
}

.container-bolsos .card-bolsos h5 {
  font-family: 'Quicksand', sans-serif;
  color: #a83e17da;
  text-align: center;
  margin: 1rem 1rem;
}

.container-bolsos .card-bolsos p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
}

.container-bolsos .card-bolsos .precio {
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1980px) and (min-width: 1599px) {
  .container-bolsos .card-bolsos {
    width: 20vw;
  }
  .container-bolsos .card-bolsos img {
    width: 20vw;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .container-bolsos .card-bolsos {
    outline: 5px solid yellow;
    width: 25vw;
    margin: 1rem;
  }
  .container-bolsos .card-bolsos img {
    width: 25vw;
  }
}

@media screen and (max-width: 1199px) {
  .container-bolsos .card-bolsos {
    width: 32vw;
    margin: 1rem;
  }
  .container-bolsos .card-bolsos img {
    width: 32vw;
  }
}

@media screen and (max-width: 800px) {
  .container-bolsos {
    display: flex;
    flex-direction: column;
  }
  .container-bolsos .card-bolsos {
    outline: 5px solid #0a0a0a;
    margin: auto;
    width: 70vw;
    margin-top: 2rem;
  }
  .container-bolsos .card-bolsos img {
    width: 70vw;
  }
}

@media screen and (max-width: 420px) {
  .container-bolsos {
    outline: 5px solid #191fcd;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .container-bolsos .card-bolsos {
    outline: 5px solid #daf601;
    width: 85vw;
    margin: auto;
    margin-top: 2rem;
  }
  .container-bolsos .card-bolsos img {
    width: 85vw;
  }
}

/*  COJINES---------------------COJINES----------------------COJINES----------------------- */
.container-cojines {
  outline: 2px solid #103594;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  /* media q cojines */
}

.container-cojines .card-cojines {
  border: 1px solid rgba(215, 102, 16, 0.466);
  padding: 0.01rem;
  border-radius: 5px;
  box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
  width: 15vw;
}

.container-cojines .card-cojines img {
  width: 14.9vw;
  border-radius: 5px;
  text-align: center;
}

.container-cojines .card-cojines h5 {
  font-family: 'Quicksand', sans-serif;
  color: #a83e17da;
  text-align: center;
  margin: 1rem 2rem;
}

.container-cojines .card-cojines p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
}

.container-cojines .card-cojines .precio {
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1980px) and (min-width: 1599px) {
  .container-cojines .card-cojines {
    width: 20vw;
  }
  .container-cojines .card-cojines img {
    width: 20vw;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .container-cojines .card-cojines {
    outline: 5px solid yellow;
    width: 25vw;
    margin: 1rem;
  }
  .container-cojines .card-cojines img {
    width: 25vw;
  }
}

@media screen and (max-width: 1199px) {
  .container-cojines .card-cojines {
    outline: 2px solid #efa810;
    width: 32vw;
    margin: 1rem;
  }
  .container-cojines .card-cojines img {
    width: 32vw;
  }
}

@media screen and (max-width: 800px) {
  .container-cojines {
    display: flex;
    flex-direction: column;
  }
  .container-cojines .card-cojines {
    outline: 5px solid #0a0a0a;
    margin: auto;
    width: 70vw;
    margin-top: 2rem;
  }
  .container-cojines .card-cojines img {
    width: 70vw;
  }
}

@media screen and (max-width: 420px) {
  .container-cojines {
    outline: 5px solid #191fcd;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .container-cojines .card-cojines {
    outline: 5px solid #daf601;
    width: 85vw;
    margin: auto;
    margin-top: 2rem;
  }
  .container-cojines .card-cojines img {
    width: 85vw;
  }
}

/* MANTAS.....................MANTAS................MANTAS................ */
.container-mantas {
  outline: 2px solid #103594;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  /* media q mantas */
}

.container-mantas .card-mantas {
  border: 1px solid rgba(215, 102, 16, 0.466);
  padding: 0.01rem;
  border-radius: 5px;
  box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
  width: 15vw;
}

.container-mantas .card-mantas img {
  width: 14.9vw;
  border-radius: 5px;
  text-align: center;
}

.container-mantas .card-mantas h5 {
  font-family: 'Quicksand', sans-serif;
  color: #a83e17da;
  text-align: center;
  margin: 2rem 2rem;
}

.container-mantas .card-mantas p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
}

.container-mantas .card-mantas .precio {
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1980px) and (min-width: 1599px) {
  .container-mantas .card-mantas {
    width: 20vw;
  }
  .container-mantas .card-mantas img {
    width: 20vw;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .container-mantas .card-mantas {
    outline: 5px solid yellow;
    width: 25vw;
    margin: 1rem;
  }
  .container-mantas .card-mantas img {
    width: 25vw;
  }
}

@media screen and (max-width: 1199px) {
  .container-mantas .card-mantas {
    width: 32vw;
    margin: 1rem;
  }
  .container-mantas .card-mantas img {
    width: 32vw;
  }
}

@media screen and (max-width: 800px) {
  .container-mantas {
    display: flex;
    flex-direction: column;
  }
  .container-mantas .card-mantas {
    outline: 5px solid #0a0a0a;
    margin: auto;
    width: 70vw;
    margin-top: 2rem;
  }
  .container-mantas .card-mantas img {
    width: 70vw;
  }
}

@media screen and (max-width: 420px) {
  .container-mantas {
    outline: 5px solid #191fcd;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .container-mantas .card-mantas {
    outline: 5px solid #daf601;
    width: 85vw;
    margin: auto;
    margin-top: 2rem;
  }
  .container-mantas .card-mantas img {
    width: 85vw;
  }
}

/*  DELANTALES ....................DELANTALES.................. */
.container-delantales {
  outline: 2px solid #103594;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  /* Media q delantales */
}

.container-delantales .card-delantales {
  border: 1px solid rgba(215, 102, 16, 0.466);
  padding: 0.01rem;
  border-radius: 5px;
  box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
  width: 15vw;
}

.container-delantales .card-delantales img {
  width: 14.9vw;
  border-radius: 5px;
  text-align: center;
}

.container-delantales .card-delantales h5 {
  font-family: 'Quicksand', sans-serif;
  color: #a83e17da;
  text-align: center;
  margin: 2rem 2rem;
}

.container-delantales .card-delantales p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
}

.container-delantales .card-delantales .precio {
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1980px) and (min-width: 1599px) {
  .container-delantales .card-delantales {
    width: 20vw;
  }
  .container-delantales .card-delantales img {
    width: 20vw;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .container-delantales .card-delantales {
    outline: 5px solid yellow;
    width: 25vw;
    margin: 1rem;
  }
  .container-delantales .card-delantales img {
    width: 25vw;
  }
}

@media screen and (max-width: 1199px) {
  .container-delantales .card-delantales {
    width: 32vw;
    margin: 1rem;
  }
  .container-delantales .card-delantales img {
    width: 32vw;
  }
}

@media screen and (max-width: 800px) {
  .container-delantales {
    display: flex;
    flex-direction: column;
  }
  .container-delantales .card-delantales {
    outline: 5px solid #0a0a0a;
    margin: auto;
    width: 70vw;
    margin-top: 2rem;
  }
  .container-delantales .card-delantales img {
    width: 70vw;
  }
}

@media screen and (max-width: 420px) {
  .container-delantales {
    outline: 5px solid #191fcd;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .container-delantales .card-delantales {
    outline: 5px solid #daf601;
    width: 85vw;
    margin: auto;
    margin-top: 2rem;
  }
  .container-delantales .card-delantales img {
    width: 85vw;
  }
}

/* PONCHOS--------------------PONCHOS------------------ */
.container-ponchos {
  outline: 2px solid #103594;
  width: 80vw;
  margin: 2rem auto;
}

.container-ponchos img {
  width: 40vw;
  border: 1px solid rgba(215, 102, 16, 0.466);
  box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
  display: flex;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.container-ponchos .card-ponchos h5 {
  font-family: 'Quicksand', sans-serif;
  color: #a83e17da;
  text-align: center;
  margin: 2rem 2rem;
}

.container-ponchos .card-ponchos p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
}

.container-ponchos .card-ponchos .precio {
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 800px) {
  .container-ponchos img {
    width: 70vw;
  }
}

/* personalizados......................PERSONALIZADOS */
.textoPersonalizados {
  font-family: 'Quicksand', sans-serif;
  color: #262525;
  text-align: center;
  margin: 2rem 2rem;
}

.container-personalizados {
  outline: 2px solid #103594;
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
}

.container-personalizados .card-personalizados {
  border: 1px solid rgba(215, 102, 16, 0.466);
  padding: 0.01rem;
  border-radius: 5px;
  box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
  width: 25vw;
}

.container-personalizados .card-personalizados img {
  width: 24.9vw;
  border-radius: 5px;
  text-align: center;
}

.container-personalizados .card-personalizados h5 {
  font-family: 'Quicksand', sans-serif;
  color: #a83e17da;
  text-align: center;
  margin: 2rem 2rem;
}

.container-personalizados .card-personalizados p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5rem;
}

.container-personalizados .card-personalizados .precio {
  font-size: 20px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.galeria {
  margin: auto;
  width: 85vw;
  height: 60vmin;
  display: flex;
  gap: 5px;
}

.galeria img {
  height: 100%;
  flex: 1;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.9s;
}

.galeria img:hover {
  flex: 4;
}
/*# sourceMappingURL=styles.css.map */