
$color-principal:#a83e17da;

@mixin tipografiaSecciones {
  font-family: 'Quicksand', sans-serif;
    font-weight: 1;
    font-size: 5vw;
    letter-spacing: 0.5vw;
}

.imgback{
    background-color: #a83e17da; 
    @media  (max-width: 450px){
      max-height: 110vh;
    }
}
/* Header de la Home*/
header{
  height: 20vh;
  text-align: center; 

  h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 1;
    font-size: vw;
    letter-spacing: 0.5vw;
  }
 
  h3{
  
    font-family: 'Quicksand', sans-serif;
    font-weight: 1;
  }

  /* Media query celular */

@media  (max-width: 450px){

  padding-top: 2rem;
}
  
}

.main-container{
  width: 80vw;
  margin: auto;
     .secciones{
          display: flex;
          flex-direction:row;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 5em;
     a{
       width: 15vw;
       height: 25vh; 
       text-align: center;
       font-family: 'Quicksand', sans-serif;
       color: whitesmoke;
       text-decoration: none;
       font-size: 1vw;
    
     p{
       margin-top: 1rem;
     }
    
   img{
      width: 15vw;
      height: 25vh;
      object-fit: cover;
      border-radius: 5px;
       box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.305); 
   
    .objet-bottom{
      object-position: bottom;
    }
   }
     .objet-center{
        object-position: center;
    }
     .objet-top{
      object-position: top;
    }
  }
}

/* Media query celular  main container*/

@media  (max-width: 450px) {
    .secciones{
      flex-direction: column;
      a{
       
        width: 70vw;
        margin: auto;
      p{
        font-size: 16px;
      }

        img{
         
          width: 70vw;
          
        }
      }
    }
  
}

}
/* fin main container */

footer{
  width: 80vw;
  height: 7vh;
  background-color: #a83e17da;
  margin: auto;
  border-radius: 5px;
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  

  a{
    align-self: center;
     }

    /* Media query celular  footer*/

@media  (max-width: 450px){
      width: 100vw;
      

     }
  
        }
/* fin footer */        


/* ----------FINAL DE LA HOME---------------------------------------------------------------------------------------- */

/* Header secciones */

.header-secciones{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
   height: 10vh;
  background-color: $color-principal;
  @include tipografiaSecciones;
   /* .header-vacio{
     width: 10%;
     
   } */
   .container-head{
     width: 20%;
    outline: 2px solid rgb(16, 53, 148);
   }
  
    }
   
  
  



/* Barra de navegacion principal */
.navbar{
  outline: 2px solid blue;
  .navbar-brand{
    outline: 2px solid green;
    color:aliceblue;  /* HOME */
    margin: 1rem;
    }
.navbar-nav {
    margin: auto; 
   
/* 8 productos */
.nav-link{
/*   outline: 2px solid rgb(75, 74, 74); */
 /*  background-color: $color-principal; */
 /*  border-radius: 5px; */
  margin-right: 1rem; 
  color:white; 
   

  
}
.nav-link:hover{
  color: $color-principal;
}


}
}

.titulo-seccion{

  h2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 2rem;
  }
}





 /* Alfombras */
.container-cards{
  
  padding-top: 5rem;
  width: 80vw;
  height: 100vh;
  margin: auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  

  

  
 
  
  
}
.card{
  
  box-shadow: 2px 2px 5px #a83e17ab;
}




/* bandoleras */


.container-bandoleras{
  width: 80vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 5rem auto;
.card-bandoleras{
    border:1px solid rgba(215, 102, 16, 0.466);
    padding: 0.01rem;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(217, 117, 41, 0.515);
    width: 15vw;
  
  img{
    width: 15vw;
  }
  h5{
    font-family: 'Quicksand', sans-serif;
    font-weight: 1;
    font-size: 1vw;
    text-align: center;
    padding-top: .3rem;
   
  }
  h6{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .button-favoritos{
    background-color: #a83e17da;
    border-radius: 5px;
    padding: 0.5rem, 0.3rem;
    border: none;
    font-size: 1vw;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
   
    
   
  }

}
}







/*  modal  */

 .modal-contenedor{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  .modal-carrito{
    position: relative;
    background-color: aliceblue;
    min-width: 500px;
    padding: 20px;
    margin-top: -20rem;
    transition: all .5s;
    h3{
      color: $color-principal; 
      font-family: 'Quicksand', sans-serif;
      font-size: 1.5rem;
    }
    #carritoCerrar{
      position: absolute;
      top:15px;
      right: 15px;
      font-size: 30px;
      color: rgba(217, 87, 26, 0.865);
      cursor: pointer;
      border: none;
      border-radius: 50px;


    }
  /*    #carrito-contenedor{

    }
    p{
    .precioProducto{
      #precioTotal{

      }

    }
  }
  #vaciar-carrito{

  } */
} 
}

 .modal-active{
  opacity: 1;
  visibility: visible;

  .modal-carrito{
    margin-top: 0;
  }
}
.producto-carrito{
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  outline: 2px solid rgb(255, 81, 0);
  img{
    width: 5vw;
  }
  h5{
    font-family: 'Quicksand', sans-serif;
    font-weight: 1;
    font-size: 1vw;
    text-align: center;
    padding-top: .3rem;
    font-size: 15px;
   
  }
}  