
$color-principal:#a83e17da;

@mixin tipografiaSecciones {
    font-family: 'Quicksand', sans-serif;
    font-weight: 1;
    font-size: 5vw;
    letter-spacing: 0.5vw;
}

.imgback{
    background-color: #a83e17da; 
    @media  (max-width: 450px){
      max-height: 110vh;
    }
}
/* Header de la Home*/
header{
  height: 20vh;
  text-align: center; 

  h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 1;
    font-size: vw;
    letter-spacing: 0.5vw;
  }
 h3{
   font-family: 'Quicksand', sans-serif;
    font-weight: 1;
  }
/* Media query celular */
@media  (max-width: 450px){
padding-top: 2rem;
}
}



.main-container{
  outline: 5px solid yellow;
  width: 80vw;
  margin: auto;
     .secciones{
          display: flex;
          flex-direction:row;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 5em;
     a{
      outline: 5px solid green;
       width: 15vw;
       height: 25vh; 
       text-align: center;
       font-family: 'Quicksand', sans-serif;
       color: whitesmoke;
       text-decoration: none;
       font-size: 1vw;
   p{
       margin-top: 1rem;
     }
    img{
       width: 10vw;
       border-radius: 5px;
       box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.305); 

      
    } 
   
  
  }
}



/* Media query celular  main container*/
@media(max-width: 1199px){
  width: 100vw;
  outline: 5px solid blue;
  .secciones{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;

    a{
      outline: 5px solid green;
       width: 20vw;
       height: 22vh; 
       text-align: center;
       font-family: 'Quicksand', sans-serif;
       color: whitesmoke;
       text-decoration: none;
       font-size: 1vw;
   p{
       margin-top: 1rem;
       font-size: 15px;
     }
    img{
       width: 14vw;
       border-radius: 5px;
       box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.305); 

      
    } 
   
  
  }
  }
}

@media(max-width: 800px){
  width: 80vw;
  outline: 5px solid rgb(139, 220, 26);
 
  .secciones{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;

    a{
      outline: 5px solid green;
       width: 35vw;
       height: 20vh; 
       text-align: center;
       font-family: 'Quicksand', sans-serif;
       color: whitesmoke;
       text-decoration: none;
       font-size: 1vw;

   p{
       margin-top: 1rem;
       font-size: 15px;
     }
    img{
       width: 17vw;
       border-radius: 5px;
       box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.305); 

      
    } 
   
  
  }
  }
}

@media  (max-width: 600px) {
  outline: 5px solid pink;
    .secciones{
     outline: 5px solid brown;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5em;
      a{
        outline: 5px solid black;
         width: 70vw;
         height: 20vh;
          margin: auto;
      p{
        font-size: 16px;
      }

        img{
         
          width: 32vw;
          
        }
      }
    }
  
}

}
/* fin main container */

footer{
  width: 80vw;
  height: 7vh;
  background-color: #a83e17da;
  margin: auto;
  border-radius: 5px;
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  

  a{
    align-self: center;
     }

    /* Media query celular  footer*/

@media  (max-width: 450px){
      width: 100vw;
      

     }
  
        }
/* fin footer */        
/* vecinas */
.vecinas{
  font-size: 13px;
  a{
    text-decoration: none; 
    color: rgb(50, 48, 48);
  }
}

/* ----------FINAL DE LA HOME---------------------------------------------------------------------------------------- */

/* Header secciones */

.header-secciones{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
   height: 10vh;
  background-color: $color-principal;
  @include tipografiaSecciones;
   /* .header-vacio{
     width: 10%;
     
   } */
   .container-head{
     width: 20%;
    outline: 2px solid rgb(16, 53, 148);
   }
  
    }
   
  
  



/* Barra de navegacion principal */
.navbar{
  outline: 2px solid blue;
  .navbar-brand{
    outline: 2px solid green;
    color:aliceblue;  /* HOME */
    margin: 1rem;
    }
.navbar-nav {
    margin: auto; 
   
/* 8 productos */
.nav-link{
/*   outline: 2px solid rgb(75, 74, 74); */
 /*  background-color: $color-principal; */
 /*  border-radius: 5px; */
  margin-right: 1rem; 
  color:white; 
   

  
}
.nav-link:hover{
  color: $color-principal;
}


}
}

.titulo-seccion{

  h2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 2rem;
  }
}


.navbar-toggler{
  outline: 2px solid red;
}


 /* ALFOMBRAS ------------------ALFOMBRAS--------ALFOMBRAS-------------ALFOMBRAS*/
.container-alfombras{
  outline: 2px solid rgb(16, 53, 148);
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
   .card-alfombras{
    border:1px solid rgba(215, 102, 16, 0.466);
    padding: 0.01rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
    width: 15vw;
   img{
      width: 14.9vw;
      border-radius: 5px;
      text-align: center;
    }
    h5{
      font-family: 'Quicksand', sans-serif;
      color: $color-principal;
      text-align: center;
      margin: 2rem 2rem;
     
    }
    
    p{
  
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      padding: 0.5rem;
      
    }
  
     .precio{
       font-size: 20px;
       color: black;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
      }
  }

  @media (max-width: 1980px)and (min-width: 1599px){
    .card-alfombras{
      width: 20vw;
      
      img{
        width: 20vw;
      }
    }
  
  }
    
  
  @media  (max-width: 1600px)and (min-width: 1200px){
    .card-alfombras{
      outline: 5px solid yellow;
      width: 25vw;
      
  
      img{
        width: 25vw;
      }
    }
  }
  
  @media screen and (max-width: 1199px){
    .card-alfombras{
      width: 30vw;
  
      img{
        width: 30vw;
      }
    }
  }
  
  @media screen and (max-width: 800px){
    .card-alfombras{
      outline: 5px solid green;
      display: flex;
      flex-direction: column;
      width: 40vw;
  
      img{
        width: 40vw;
      }
    }
  }
}




/* bandoleras--------------------bandoleras ------------------------- */


.container-cards{
  outline: 2px solid rgb(16, 53, 148);
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  
.card-bandoleras{
    border:1px solid rgba(215, 102, 16, 0.466);
    padding: 0.01rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
    width: 15vw;
  
    
  
  img{
    width: 15vw;
  }
  h5{
    font-family: 'Quicksand', sans-serif;
    color: $color-principal;
    text-align: center;
    margin: 2rem 2rem;
   
  }
  
  p{

    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 0.5rem;
    
  }

   .precio{
     font-size: 20px;
     color: black;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
    }
 

}
@media (max-width: 1980px)and (min-width: 1499px){
  .card-bandoleras{
    width: 15vw;
    height: 80vh;
    img{
      width: 15vw;
    }
  }

}
  

@media  (max-width: 1500px){
  .card-bandoleras{
    width: 30vw;

    img{
      width: 30vw;
    }
  }
}

@media screen and (max-width: 750px){
  .card-bandoleras{
    width: 70vw;

    img{
      width: 70vw;
    }
  }
}

}
  

  

/* Bolsos------------Bolsos----------------Bolsos------------ */

.container-bolsos{
  outline: 2px solid rgb(16, 53, 148);
  width: 80vw;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  .card-bolsos{
    outline: 5px solid red;
    border:1px solid rgba(215, 102, 16, 0.466);
    padding: 0.01rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
    width: 15vw;
    

    img{
      width: 14vw;
      border-radius: 5px;
    }
      
     h5{
      font-family: 'Quicksand', sans-serif;
      color: $color-principal;
      text-align: center;
      margin: 1rem 1rem;
     
    }
    
    p{
  
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      padding: 0.5rem;
      
    }
  
     .precio{
       font-size: 20px;
       color: black;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
      }
  }

  @media (max-width: 1980px)and (min-width: 1499px){
    .card-bolsos{
      width: 15vw;
      height: 80vh;
      img{
        width: 15vw;
        
      }
    }
  
  }
    
  
  @media  (max-width: 1500px){
    .card-bolsos{
      width: 30vw;
  
      img{
        width: 30vw;
      }
    }
  }
  
  @media screen and (max-width: 750px){
    .card-bolsos{
      width: 70vw;
      
  
      img{
        width: 70vw;
      }
    }
  }
  
  }
    
  
/*  COJINES---------------------COJINES----------------------COJINES----------------------- */

.container-cojines{
  outline: 2px solid rgb(16, 53, 148);
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  .card-cojines{
    border:1px solid rgba(215, 102, 16, 0.466);
    padding: 0.01rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
    width: 15vw;

   img{
      width: 14.9vw;
      border-radius: 5px;
      text-align: center;
    }
    h5{
      font-family: 'Quicksand', sans-serif;
      color: $color-principal;
      text-align: center;
      margin: 1rem 2rem;
     
    }
    
    p{
  
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      padding: 0.5rem;
      
    }
  
     .precio{
       font-size: 20px;
       color: black;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
      }
  }
  @media (max-width: 1980px)and (min-width: 1499px){
    .card-cojines{
      width: 15vw;
      height: 80vh;
      img{
        width: 15vw;
      }
    }
  
  }
    
  
  @media  (max-width: 1500px){
    .card-cojines{
      width: 30vw;
  
      img{
        width: 30vw;
      }
    }
  }
  
  @media screen and (max-width: 750px){
    .card-cojines{
      width: 70vw;
  
      img{
        width: 70vw;
      }
    }
  }
  

}


/* MANTAS.....................MANTAS................MANTAS................ */

.container-mantas{
  outline: 2px solid rgb(16, 53, 148);
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  .card-mantas{
    border:1px solid rgba(215, 102, 16, 0.466);
    padding: 0.01rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
    width: 15vw;
   img{
      width: 14.9vw;
      border-radius: 5px;
      text-align: center;
    }
    h5{
      font-family: 'Quicksand', sans-serif;
      color: $color-principal;
      text-align: center;
      margin: 2rem 2rem;
     
    }
    
    p{
  
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      padding: 0.5rem;
      
    }
  
     .precio{
       font-size: 20px;
       color: black;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
      }
  }
  @media (max-width: 1980px)and (min-width: 1499px){
    .card-mantas{
      width: 15vw;
      height: 80vh;
      img{
        width: 15vw;
      }
    }
  
  }
    
  
  @media  (max-width: 1500px){
    .card-mantas{
      width: 30vw;
  
      img{
        width: 30vw;
      }
    }
  }
  
  @media screen and (max-width: 750px){
    .card-mantas{
      width: 70vw;
  
      img{
        width: 70vw;
      }
    }
  }
  

}


/*  DELANTALES ....................DELANTALES.................. */

.container-delantales{
  outline: 2px solid rgb(16, 53, 148);
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  .card-delantales{
    border:1px solid rgba(215, 102, 16, 0.466);
    padding: 0.01rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
    width: 15vw;
   img{
      width: 14.9vw;
      border-radius: 5px;
      text-align: center;
    }
    h5{
      font-family: 'Quicksand', sans-serif;
      color: $color-principal;
      text-align: center;
      margin: 2rem 2rem;
     }
     p{
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      padding: 0.5rem;
      }
      .precio{
       font-size: 20px;
       color: black;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
      }
  }
  @media (max-width: 1980px)and (min-width: 1499px){
    .card-delantales{
      width: 15vw;
      height: 80vh;
      img{
        width: 15vw;
      }
    }
  
  }
    
  
  @media  (max-width: 1500px){
    .card-delantales{
      width: 30vw;
  
      img{
        width: 30vw;
      }
    }
  }
  
  @media screen and (max-width: 750px){
    .card-delantales{
      width: 70vw;
  
      img{
        width: 70vw;
      }
    }
  }
  
}

 /* PONCHOS--------------------PONCHOS------------------ */
 
 .container-ponchos{
  outline: 2px solid rgb(16, 53, 148);
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  .card-ponchos{
    border:1px solid rgba(215, 102, 16, 0.466);
    padding: 0.01rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
    width: 15vw;
   img{
      width: 14.9vw;
      border-radius: 5px;
      text-align: center;
    }
    h5{
      font-family: 'Quicksand', sans-serif;
      color: $color-principal;
      text-align: center;
      margin: 2rem 2rem;
     }
     p{
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      padding: 0.5rem;
      }
      .precio{
       font-size: 20px;
       color: black;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
      }
  }
  @media (max-width: 1980px)and (min-width: 1499px){
    .card-ponchos{
      width: 15vw;
      height: 80vh;
      img{
        width: 15vw;
      }
    }
  
  }
    
  
  @media  (max-width: 1500px){
    .card-ponchos{
      width: 30vw;
  
      img{
        width: 30vw;
      }
    }
  }
  
  @media screen and (max-width: 750px){
    .card-ponchos{
      width: 70vw;
  
      img{
        width: 70vw;
      }
    }
  }
  
}

/* personalizados......................PERSONALIZADOS */
.textoPersonalizados{
  font-family: 'Quicksand', sans-serif;
  color: rgb(38, 37, 37);
  text-align: center;
  margin: 2rem 2rem;
}
.container-personalizados{
  outline: 2px solid rgb(16, 53, 148);
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  .card-personalizados{
    border:1px solid rgba(215, 102, 16, 0.466);
    padding: 0.01rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px rgba(217, 117, 41, 0.515);
    width: 25vw;
   img{
      width: 24.9vw;
      border-radius: 5px;
      text-align: center;
    }
    h5{
      font-family: 'Quicksand', sans-serif;
      color: $color-principal;
      text-align: center;
      margin: 2rem 2rem;
     
    }
    
    p{
  
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      padding: 0.5rem;
      
    }
  
     .precio{
       font-size: 20px;
       color: black;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
      }
  }
}

.galeria{
  margin: auto;
  width:85vw;
  height: 60vmin;
  display: flex;
  gap:5px;

  img{
    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition:all 0.9s;
  }
  img:hover{
   flex: 4;
  }
}